Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

source ~/.vimrc
set timeoutlen=100000
set surround

set multicursor
" Quick hand for placing cursors after a search
map q <Plug>(multicursor-ms/)
map z <Plug>(multicursor-mcv)
map Z <Plug>(multicursor-mcr)

imap jk <Esc>

let mapleader = ","
" <leader><leader> to activate
set easymotion
"Search for chars in single line
nmap s <Plug>(easymotion-sl)


nmap <leader>ne :NERDTree<cr>

" Stop bad habits with arrow keys
nnoremap <up> <nop>
nnoremap <down> <nop>
nnoremap <left> <nop>
nnoremap <right> <nop>
inoremap <up> <nop>
inoremap <down> <nop>
inoremap <left> <nop>
inoremap <right> <nop>
nnoremap j gj
nnoremap k gk

" Split screen vertically
nnoremap <leader>w <C-w>v<C-w>l
" Split horizontally
nnoremap <leader>q <C-w>s<C-w>l

" IDE implementation flows, glance view, implementation, then interface
nmap <leader>u <Action>(ShowHoverInfo)
nmap <leader>y <Action>(QuickImplementations)
nmap <leader>b <Action>(GotoImplementation)
nmap <leader>g <Action>(GotoSuperMethod)

" Menu helpers
nmap <leader>i <Action>(RefactoringMenu)
nmap <leader>o <Action>(ShowErrorDescription)
nmap <leader>ai <Action>(ShowIntentionActions)

" Switching tabs, use Idea mappings for this instead Ctrl + Shift + < / > or the arrow keys
nmap <leader>[ <Action>(PreviousTab)
nmap <leader>] <Action>(NextTab)

" See file in tree view
nmap <leader>f <Action>(SelectInProjectView)

" Relies on TabShifter plugin to be installed, Only changes focus
nmap <C-j> <Action>(TabShiftActions.MoveFocusDown)
nmap <C-h> <Action>(TabShiftActions.MoveFocusLeft)
nmap <C-k> <Action>(TabShiftActions.MoveFocusUp)
nmap <C-l> <Action>(TabShiftActions.MoveFocusRight)

" AI short cuts
nmap <leader>k <Action>(Vcs.LLMCommitMessageAction)

