Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'

source ~/.vimrc
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set notimeout
set surround
" Needs to be installed
set which-key

let mapleader = ","

imap jk <Esc>

" <leader><leader> to activate
set easymotion
"Search for chars in single line
nmap s <Plug>(easymotion-sl)

nmap <leader>ne :NERDTree<cr>

" Stop bad habits with arrow keys
nnoremap <up> <nop>
nnoremap <down> <nop>
nnoremap <left> <nop>
nnoremap <right> <nop>
inoremap <up> <nop>
inoremap <down> <nop>
inoremap <left> <op>
inoremap <right> <nop>
nnoremap j gj
nnoremap k gk


" IDE implementation flows, glance view, implementation, then interface
nmap <leader>u <Action>(ShowHoverInfo)
nmap <leader>y <Action>(QuickImplementations)
nmap <leader>b <Action>(GotoImplementation)
nmap <leader>g <Action>(GotoSuperMethod)

" Menu helpers
nmap <leader>i <Action>(RefactoringMenu)
nmap <leader>o <Action>(ShowErrorDescription)
nmap <leader>ai <Action>(ShowIntentionActions)
nmap <leader>r <Action>(ReformatCode)

" Switching tabs, use Idea mappings for this instead Ctrl + Shift + < / > or the arrow keys
nmap <leader>[ <Action>(PreviousTab)
nmap <leader>] <Action>(NextTab)

" See file in tree view
nmap <leader>f <Action>(SelectInProjectView)
" Hide tab
nmap <leader>h <Action>(HideActiveWindow)

" Relies on TabShifter plugin to be installed, Only changes focus
nmap <leader><leader>h <Action>(TabShiftActions.MoveFocusLeft)
nmap <leader><leader>j <Action>(TabShiftActions.MoveFocusDown)
nmap <leader><leader>k <Action>(TabShiftActions.MoveFocusUp)
nmap <leader><leader>l <Action>(TabShiftActions.MoveFocusRight)

" Relies on TabShifter and splits screens
nmap <leader>h <Action>(TabShiftActions.ShiftLeft)
nmap <leader>j <Action>(TabShiftActions.ShiftDown)
nmap <leader>k <Action>(TabShiftActions.ShiftUp)
nmap <leader>l <Action>(TabShiftActions.ShiftRight)

" AI short cuts
nmap <leader>co <Action>(Vcs.LLMCommitMessageAction)

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences
