[user]
	name = Shannor Trotty
	email = shannor.a.trotty@gmail.com
[color]
	# Enable colors in color-supporting terminals
	ui = auto
[pager]
	# Removes pager from the branch call
	branch = false
[credential]
	helper = osxkeychain